.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: lightgoldenrodyellow;
}
body {
    background-color: #0d1117;
    color: white;
}
h1 {
    margin-left: 20px;
    font-style: oblique;
    color: black;
}
nav a {
    color: black;
    margin: 10px 20px;
}
nav a:hover {
    color: blue;
}
h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 0;
}
#image1 {
    text-align: center;
}
h3 {
    margin-bottom: 0;
    font-size: 30px;
}
#intro {
    margin-top: 7px;
    margin-bottom: 3cap;
    font-size: 19px;
}
h4 {
    margin-bottom: 0;
    font-size: 25px;
}
#serving {
    margin-top: 0;
    font-size: 20px;
}
#ing8 {
    margin-bottom: 2cap;
}
#method {
    font-size: 25px;
}
#outro {
    font-size: 20px;
}