    /*Header*/
    body{
      background-color: antiquewhite;
  }
  #header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #C19A6B;
  }
  h1{
    font-family: "Pacifico", serif;
    color: white;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;
  }
  nav{
      margin-right: 0cm;
      margin-left: 5cm;
  }
  #header a{
      font-size: 20px;
      color: white;
      margin: 40px 50px;
      text-decoration: none;
  }
  #header a:hover{ 
      color: black;
  }
  #search {
      margin-right: 40px;
      margin-left: 0cm;
      border-radius: 100px;
      text-align: center;
      width: 18cap;
  }
      /*Body*/
  #our_products { 
      color: white;
      font-family: "Pacifico", serif;
      font-weight: 2400;
      font-size: 35px;
      margin-bottom: 2cm;
      text-shadow: 2px 2px 7px black;
  }
  .content {
      align-items: center;
      justify-content: center;
      display: flex;
  }
  .products {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  }
  .box{
      color: white;
      text-align: center;
      text-shadow: 2px 2px 7px black;
  }
  .box img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      border-radius: 10%;
      border: 3px solid #fffdd0;
  }
  #footer {
      background-color: #C19A6B;
      display: flex;
      border-bottom: 10px solid #C19A6B;
      justify-content: space-between;
  }
  .nav a {
      font-family: Arial, Helvetica, sans-serif;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .footernavbar a {
      margin: 0 10px;
      text-decoration: none;
      color: white;
      
  }
  p {
      background-color: #C19A6B;
      justify-content: flex;
      text-align: center;
      margin: 1px;
  }